# Set vi key bindings mode
set -g mode-keys vi
set -g status-keys vi

# List of plugins
set -g @tpm_plugins '          \
   tmux-plugins/tpm             \
   tmux-plugins/tmux-sensible   \
   tmux-plugins/tmux-resurrect  \
   jimeh/tmux-themepack    \
 '
# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

set -g @plugin 'jimeh/tmux-themepack'

set -g @themepack 'powerline/default/orange'

#set -g @plugin 'dracula/tmux'
#
## Config Dracula Theme
#set -g @dracula-show-fahrenheit false
#set -g @dracula-show-powerline true
#set -g @dracula-show-network false
#set -g @dracula-show-left-icon session
#set -g @dracula-cpu-usage true
#set -g @dracula-ram-usage true
#set -g @dracula-day-month true
#set -g @dracula-military-time true
#set -g @dracula-show-flags true 

# Set 256 colors
set -s default-terminal 'tmux-256color'

bind r source-file ~/.config/tmux/tmux.config

set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.config/tmux/plugins/'
# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.config/tmux/plugins/tpm/tpm'

